@charset "UTF-8";

/* 回答はここに書いてね */
.wapper_box {
  position: relative;
  margin: 0 auto;
	width: 900px;
	background-color: #eff3f4;
  padding: 20px;
}
.text {
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
}
.item_list {
  float: left;
  position: relative;
  width: 270px;
  height: 440px;
  background-color: #3274ae;
  margin-left: 20px;
}
.item_list:first-child {
  margin-left: 0px;
}
 .clearfix::before,
 .clearfix::after {
  content: "";
  display: block;
  clear: both;
 }
.item_list_box {
  position: absolute;
  margin: 20px;
  width: 230px;
  background-color: #eaf4ff;
  box-sizing: border-box;
  border: solid 10px #022336;
}
/* 回答はここに書いてね */
