@charset "UTF-8";

/* 回答はここに書いてね */
.p10 {
   width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.wapper_box {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.title_box {
  position: relative;
  margin-bottom: 20px;
}

.title_box:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.title_box_text {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ecf1f2;
  font-size: 24px;
  font-weight: bold;
}

.box_item {
  margin-bottom: 20px;
}

.left_box {
  float: left;
  width: 300px;
}

.left_box_item {
  margin-bottom: 20px;
}

.left_box_item_title {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.txt {
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.txt_item {
  padding: 0;
  padding: 5px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio_box { cursor: pointer; }

.radio { display: none; }

.radio_txt {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.radio_txt:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}

.radio:checked + .radio_txt:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00bcd4;
  border-radius: 50%;
  content: '';
}

.asterisk {
  color: #f00;
}

.left_box_item_content {
  float: right;
  width: 180px;
}

.input_text {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.left_box_bottom {
  text-align: right;
}

.submit {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}

.right_box {
  float:right;
  width: 380px;
}

.right_box_item {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}
/* 回答はここに書いてね */

.q10__main__bottom { text-align: right; }
.q10__main__bottom__btn {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
}
.q10__side {
    float: right;
    width: 380px;
}
.q10__side__txt {
    width: 100%;
    height: 203px;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    resize: none;
}
